includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - src/QUI/Utils/Text/BBCode.php
        - src/QUI/Utils/Text/Word.php